/* Tooltip styles */
.mblTooltip.mblOpener {
	padding: 2px;
	-webkit-box-shadow: 0 0 60px #808080;
}
.mblTooltip.mblOpener #cancel {
	display: none;
}
.mblTooltip.mblOpener button {
	margin: 4px;
	width: 240px;
	height: 40px;
	-webkit-box-shadow: 0 1px 1px #343a4b;
	font-size: 18px;
	line-height: 38px;
}
/* Overlay styles */
.mblOverlay.mblOpener {
	padding-top: 10px;
	background-color: #60656f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a6abb4), to(#5b616c), color-stop(0.1, #7b808b), color-stop(0.1, #60656f));
}
.mblOverlay.mblOpener button {
	margin: 5px;
	width: 90%;
	height: 44px;
	border: 3px inset #3a3d43;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 0 1px 1px #787c84;
	font-size: 18px;
	line-height: 38px;
}
.mblOverlay.mblOpener #cancel {
	margin: 15px 5px;
	background-color: #293039; /* for non-webkit browser */
	background-image: none; /* for non-webkit browser */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6d7278), to(#383f49), color-stop(0.5, #343c44), color-stop(0.5, #293039));
	color: white;
}
.dj_bb button { /* BB BoxShadow Workaround */
	-webkit-box-shadow: none !important;
}